<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investigación de Mercado</title>
  </head>
  <body>
    <header class="bg-gradient-purple text-white text-center py-3">
      <div class="container">
        <img
          src="../assets/logo_pdn-transparente 1.svg"
          alt="PDN"
          class="logo"
        />
        <h1 class="mt-3">Realiza tu investigación de mercado</h1>
      </div>
    </header>

    <section class="container my-4">
      <div class="row">
        <div class="col-10">
          <div class="input-group search-bar mb-4">
            <input
              type="text"
              class="form-control"
              placeholder="Puedes buscar por bien, nombre de empresa o RFC"
              [(ngModel)]="query"
              (keydown.enter)="search()"
            />
          </div>
        </div>
        <div class="col-2">
          <button class="btn btn-success" (click)="search()">Buscar</button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <div class="table-responsive">
            <table
              class="table table-sm table-hover table-striped align-middle"
              *ngIf="!show_loading"
            >
              <thead class="table-dark bg-purple text-white">
                <tr>
                  <th>OCID</th>
                  <th>RFC</th>
                  <th>Empresa</th>
                  <th>Titulo de adjudicación</th>
                  <th>Articulo licitado</th>
                  <th>Cantidad</th>
                  <th>Costo</th>
                  <th>Esta registrada como EFO</th>
                  <th>Servidores Publicos Relacionados con la Empresa</th>
                  <th>Sanciones de la Empresa</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let item of resultados">
                  <td>{{ item.ocid }}</td>
                  <td>{{ item.suppliers.id }}</td>
                  <td>{{ item.suppliers.name }}</td>
                  <td>{{ item.title }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>
                    {{ item.unit.value.amount }} {{ item.unit.value.currency }}
                  </td>
                  <td>
                    <div *ngIf="item.efos.length">
                      <button
                        type="button"
                        class="btn btn-danger position-relative"
                        (click)="openModal(item.efos)"
                      >
                        <i class="bi bi-eye"></i>
                        <!-- <span
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
                        >
                          {{ item.efos.length }}
                          <span class="visually-hidden">unread messages</span>
                        </span> -->
                      </button>
                      <!-- <pre>{{ item.efos | json }}</pre> -->
                    </div>
                  </td>
                  <td>
                    <div *ngIf="item.servidores_publicos.length">
                      <button
                        type="button"
                        class="btn btn-danger position-relative"
                        (click)="openModalSP(item.servidores_publicos)"
                      >
                        <i class="bi bi-eye"></i>
                        <span
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
                        >
                          {{ item.servidores_publicos.length }}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </button>
                      <!-- <pre>{{ item.servidores_publicos | json }}</pre> -->
                    </div>
                  </td>
                  <td>
                    <div *ngIf="item.sanciones.length">
                      <button
                        type="button"
                        class="btn btn-danger position-relative"
                        (click)="openModalSanciones(item.sanciones)"
                      >
                        <i class="bi bi-eye"></i>
                        <span
                          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary"
                        >
                          {{ item.sanciones.length }}
                          <span class="visually-hidden">unread messages</span>
                        </span>
                      </button>
                      <!-- <pre>{{ item.sanciones | json }}</pre> -->
                    </div>
                  </td>
                </tr>

                <tr class="text-center" *ngIf="resultados.length === 0">
                  <td colspan="10">
                    <strong>Sin resultados</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show_loading">
        <div class="col-5"></div>
        <div class="col-2 col- text-center">
          <div class="spinner-container">
            <div class="spinner"></div>
            <p class="loading-text">Cargando datos...</p>
          </div>
        </div>
      </div>

      <!-- <div class="contract-info bg-light p-3 mt-4">
        <p><strong>Contrato:</strong> Adquisición de agua purificada</p>
        <p><strong>Monto Adjudicado:</strong> $52,567,060.20</p>
        <p><strong>Duración contrato:</strong> 10 años</p>
        <p>
          <strong>Institución:</strong> Centro Regional de Alta Especialidad de
          Chiapas
        </p>
        <p><strong>No. de contratos adjudicados:</strong> 7</p>
      </div> -->
    </section>

    <!-- Modal EFOS-->
    <div
      class="modal modal-xl fade"
      id="modalEFOS"
      tabindex="-1"
      aria-labelledby="modalEFOSLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalEFOSLabel">
              Información del Contribuyente
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div *ngFor="let item of infoEFO">
              <!-- <pre>
         {{ item | json }}
              </pre> -->
              <div class="container mt-5">
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th scope="col">RFC</th>
                          <th scope="col">Nombre del Contribuyente</th>
                          <th scope="col">Situación del Contribuyente</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="">
                          <td scope="row">{{ item.rfc }}</td>
                          <td>{{ item.nombredelcontribuyente }}</td>
                          <td>{{ item.situaciondelcontribuyente }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="container mt-5" style="height: 50">
                    <h2 class="text-center mb-4">Línea de Tiempo</h2>
                    <div class="timeline-container">
                      <div class="timeline">
                        <div class="timeline-item timeline-item-left">
                          <div class="timeline-item-content">
                            <h6>
                              Número y Fecha de Oficio Global de Presunción
                              (SAT)
                            </h6>
                            <p>
                              {{
                                item.numeroyfechadeoficioglobaldepresuncionsat
                              }}
                            </p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-right">
                          <div class="timeline-item-content">
                            <h6>Publicación en Página del SAT (Presuntos)</h6>
                            <p>{{ item.publicacionpaginasatpresuntos }}</p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-left">
                          <div class="timeline-item-content">
                            <h6>
                              Número y Fecha de Oficio Global de Presunción
                              (DOF)
                            </h6>
                            <p>
                              {{
                                item.numeroyfechadeoficioglobaldepresunciondof
                              }}
                            </p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-right">
                          <div class="timeline-item-content">
                            <h6>Publicación en DOF (Presuntos)</h6>
                            <p>{{ item.publicaciondofpresuntos }}</p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-left">
                          <div class="timeline-item-content">
                            <h6>
                              Número y Fecha de Oficio Global de Definitivos
                              (SAT)
                            </h6>
                            <p>
                              {{
                                item.numeroyfechadeoficioglobaldedefinitivossat
                              }}
                            </p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-right">
                          <div class="timeline-item-content">
                            <h6>Publicación en Página del SAT (Definitivos)</h6>
                            <p>{{ item.publicacionpaginasatdefinitivos }}</p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-left">
                          <div class="timeline-item-content">
                            <h6>
                              Número y Fecha de Oficio Global de Definitivos
                              (DOF)
                            </h6>
                            <p>
                              {{
                                item.numeroyfechadeoficioglobaldedefinitivosdof
                              }}
                            </p>
                          </div>
                        </div>

                        <div class="timeline-item timeline-item-right">
                          <div class="timeline-item-content">
                            <h6>Publicación en DOF (Definitivos)</h6>
                            <p>{{ item.publicaciondofdefinitivos }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Servidores Publicos-->
    <div
      class="modal modal-xl fade"
      id="modalSP"
      tabindex="-1"
      aria-labelledby="modalSPLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalSPLabel">
              Servidores Publicos Relacionados con la Empresa
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <app-data-servidor-publico
              [servidores]="infoSP"
            ></app-data-servidor-publico>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Sanciones-->
    <div
      class="modal modal-xl fade"
      id="modalSanciones"
      tabindex="-1"
      aria-labelledby="modalSancionesLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalSancionesLabel">
              Sanciones de la empresa
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <app-data-sancion-empresa
              [sanciones]="infoSanciones"
            ></app-data-sancion-empresa>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
