/* linea de tiempo */

.timeline-container {
  max-height: 400px;
  /* Altura máxima para el contenedor */
  overflow-y: auto;
  /* Habilitar scroll vertical */
  padding-right: 1rem;
  /* Espacio para evitar que el scroll tape contenido */
}

.timeline {
  position: relative;
  padding: 2rem 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #dee2e6;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  margin: 1rem 0;
}

.timeline-item-left {
  text-align: right;
}

.timeline-item-right {
  text-align: left;
}

.timeline-item-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 1rem;
  max-width: 300px;
  display: inline-block;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: #0d6efd;
  border-radius: 50%;
  border: 3px solid #fff;
  transform: translate(-50%, -50%);
}

.timeline-item-left .timeline-item-content {
  margin-right: calc(50% + 20px);
}

.timeline-item-right .timeline-item-content {
  margin-left: calc(50% + 20px);
}
