/* You can add global styles to this file, and also import other style files */

:root {
  --efo: rgb(231 147 61);
  --sp: rgb(57 190 170);
  --sancionado: rgb(243, 120, 120);
  --primario: rgb(125, 72, 138);
}

