/* You can add global styles to this file, and also import other style files */

:root {
  --efo: rgb(231 147 61);
  --sp: rgb(57 190 170);
  --sancionado: rgb(243, 120, 120);
  --primario: rgb(125, 72, 138);
  --secundario: rgb(128 82 141);
  --contraste: rgb(20 88 135);
  --black: rgb(102 102 102);
  --highlight: rgb(188 94 199);
  --bg-p-hover:rgb(240 236 241);
  --borde-card: 1px solid rgb(125 72 138 / 24%);
  --radius-card: 12px;
  --shadow-card: 0 2px 4px rgba(0,0,0,0.1);
  --shadow-card-hover: 0 12px 20px -8px rgba(129, 73, 148, 0.15);
  --shadow-transform: translateY(-4px) scale(1.01);
  --fondo-card: #faf5ff;
  --bg-degradado: linear-gradient(135deg, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
}

